# TASK1

--> I started with creating dictionary 'Categories' having list of keywords corresponding to type of company.
--> Scraped data using beautifulsoup ( only html content.) (did not go for java script content as it would have required 'selenium')
-->Created views using Pandas
-->created function for cheecking relevancy and conditional formatting.
HAVE A LOOK OF MY NOTEBOOK. (Its not the best that I can do as there are a lot of things that can still be done here. But it's like a sample of my work.)
I look forward to discuss more and work with deep thought.

In [134]:
categories = {
    "F&B": ["beverage", "cereal", "milk"],
    "Manufacturer": ["production", "plant", "capacity", "certification","manufacturer","innovative"],
    "Brand": ["price", "product description", "trust"],
    "Distributor": ["raw materials", "nutraceuticals", "probiotics","suppliers"]
}

In [136]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Define the URL
url = "https://www.jnj.com/"

# Fetch HTML content
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

# Extract all text from the webpage
all_text = soup.get_text().lower()

# Split text into sentences for context analysis
sentences = all_text.split('.')

In [140]:
results = []
for category, keywords in categories.items():
    is_present = any(keyword in all_text for keyword in keywords)
    results.append({"Category": category, "Present": is_present})

In [142]:
results

[{'Category': 'F&B', 'Present': False},
 {'Category': 'Manufacturer', 'Present': True},
 {'Category': 'Brand', 'Present': False},
 {'Category': 'Distributor', 'Present': True}]

In [146]:
df1 = pd.DataFrame(results)

In [148]:
df1["Company"] = "jnj"

In [150]:
df1

       Category  Present Company
0           F&B    False     jnj
1  Manufacturer     True     jnj
2         Brand    False     jnj
3   Distributor     True     jnj

In [11]:
url2 = "https://namasteindiafoods.com/about-us.html"

In [25]:
response2 = requests.get(url2)
soup2 = BeautifulSoup(response2.text, 'html.parser')

# Extract all text from the webpage
all_text2 = soup2.get_text().lower()

# Split text into sentences for context analysis
sentences2 = all_text2.split('.')

In [33]:
results2 = []
for category, keywords in categories.items():
    is_present = any(keyword in all_text2 for keyword in keywords)
    results2.append({"Category": category, "Present": is_present})

In [35]:
results2

[{'Category': 'F&B', 'Present': True},
 {'Category': 'Manufacturer', 'Present': False},
 {'Category': 'Brand', 'Present': True},
 {'Category': 'Distributor', 'Present': False}]

In [112]:
df2 = pd.DataFrame(results2)

In [114]:
df2["Company"] = "namasteindiafoods"

In [116]:
df2

       Category  Present            Company
0           F&B     True  namasteindiafoods
1  Manufacturer    False  namasteindiafoods
2         Brand     True  namasteindiafoods
3   Distributor    False  namasteindiafoods

In [68]:
url3 ="https://www.zinereopharma.com/en/"

In [70]:
response3 = requests.get(url3)
soup3 = BeautifulSoup(response3.text, 'html.parser')

# Extract all text from the webpage
all_text3 = soup3.get_text().lower()

# Split text into sentences for context analysis
sentences3 = all_text3.split('.')

In [74]:
results3 = []
for category, keywords in categories.items():
    is_present = any(keyword in all_text3 for keyword in keywords)
    results3.append({"Category": category, "Present": is_present})

In [76]:
results3

[{'Category': 'F&B', 'Present': False},
 {'Category': 'Manufacturer', 'Present': True},
 {'Category': 'Brand', 'Present': False},
 {'Category': 'Distributor', 'Present': True}]

In [100]:
df3 = pd.DataFrame(results3)

In [102]:
df3['Company'] = "zinereopharma"

       Category  Present        Company
0           F&B    False  zinereopharma
1  Manufacturer     True  zinereopharma
2         Brand    False  zinereopharma
3   Distributor     True  zinereopharma

In [78]:
url4 = "https://www.mondelezinternational.com/"

In [80]:
response4 = requests.get(url4)
soup4 = BeautifulSoup(response4.text, 'html.parser')

# Extract all text from the webpage
all_text4 = soup4.get_text().lower()

# Split text into sentences for context analysis
sentences4 = all_text4.split('.')

In [84]:
results4 = []
for category, keywords in categories.items():
    is_present = any(keyword in all_text4 for keyword in keywords)
    results4.append({"Category": category, "Present": is_present})

In [86]:
results4

[{'Category': 'F&B', 'Present': True},
 {'Category': 'Manufacturer', 'Present': False},
 {'Category': 'Brand', 'Present': False},
 {'Category': 'Distributor', 'Present': False}]

In [106]:
df4 = pd.DataFrame(results4)

In [108]:
df4['Company'] = "mondelezinternational"

In [110]:
df4

       Category  Present                Company
0           F&B     True  mondelezinternational
1  Manufacturer    False  mondelezinternational
2         Brand    False  mondelezinternational
3   Distributor    False  mondelezinternational

In [178]:
df = pd.concat([df1,df2,df3,df4],axis=0)
df_copy = df

### View-1

In [181]:
df_copy.set_index(['Company','Category'])

                                    Present
Company               Category
jnj                   F&B             False
                      Manufacturer     True
                      Brand           False
                      Distributor      True
namasteindiafoods     F&B              True
                      Manufacturer    False
                      Brand            True
                      Distributor     False
zinereopharma         F&B             False
                      Manufacturer     True
                      Brand           False
                      Distributor      True
mondelezinternational F&B              True
                      Manufacturer    False
                      Brand           False
                      Distributor     False

In [186]:
df["Company"].unique()

array(['jnj', 'namasteindiafoods', 'zinereopharma',
       'mondelezinternational'], dtype=object)

In [194]:
result = df[df['Present'] == True].groupby('Company')["Category"].apply(list).reset_index()

In [196]:
result

                 Company                     Category
0                    jnj  [Manufacturer, Distributor]
1  mondelezinternational                        [F&B]
2      namasteindiafoods                 [F&B, Brand]
3          zinereopharma  [Manufacturer, Distributor]

# Task2

### Relevant function for checking revelancy

In [202]:
def Relevant(Category):
    if ("Manufacturer" in Category) | ("Distributor" in Category) | ("F&B" in Category) |  ("Brand" in Category):
        return True
    else:
        return False

In [204]:
result["Relevant"] = result["Category"].apply(Relevant)

### View-2

In [206]:
result

                 Company                     Category  Relevant
0                    jnj  [Manufacturer, Distributor]      True
1  mondelezinternational                        [F&B]      True
2      namasteindiafoods                 [F&B, Brand]      True
3          zinereopharma  [Manufacturer, Distributor]      True

### Conditional formatting in pandas . We can also do the same for excel. But here we have done only for the Jupyter.

In [220]:
def color_cells(val):
    color = 'green' if val != 'Not recognized' else 'red'
    return f'background-color: {color}'

In [226]:
styled_df = result.style.applymap(color_cells, subset=['Category'])

C:\Users\ADITYA SINGH\AppData\Local\Temp\ipykernel_23392\1160188336.py:1: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  styled_df = result.style.applymap(color_cells, subset=['Category'])

In [228]:
styled_df